<li class="dropright drop-hover">
  <div class="dropdown-item　dropdown-toggle" href="#"　data-toggle="dropdown">数量</div>
  <ul class="dropdown-menu">
     <li>
       <div class="form-group">
         <label for="Select">購入数</label>
           <select class="form-control" id="Select">
             <option>1</option>
             <option>2</option>
             <option>3</option>
             <option>4</option>
             <option>5</option>
             <option>6</option>
             <option>7</option>
             <option>8</option>
             <option>9</option>
             <option>10</option>
           </select>
     </li>
  </ul>
</li>
