
<%= form_with url: notes_path do |f| %>
  <div class = "form">
    <%= f.text_field :content,class:'form-control', placeholder: "買うものを入力" %>
  </div>
  <div class = "form_btn">
    <%= f.submit "投稿", class: "btn btn-default" %>
  </div>
<% end %>
