<li class="dropdown drop-hover">
  <div class="dropdown-item　dropdown-toggle" href="#"　data-toggle="dropdown">コメント</div>
  <ul class="dropdown-menu">
     <li>
       <div class="form-group">
         <label for="Textarea">コメント</label>
         <textarea class="form-control" id="Textarea" rows="3"></textarea>
       </div>
     </li>
  </ul>
</li>
