<% if @groups.present? %>

<p>所属グループ一覧</p>

  <% @groups.each do |group| %>
  　<ul class="group_info">
    <% if group.image.present? %>
      <li class="group_name"><img src= "<%= group.image %>" class="image_icon">
    <% else %>
      <li class="group_name"><img src= "/assets/default_group_icon.png" class="image_icon">
    <% end %>
      <%= link_to group.name,group_path(group.id) %></li>
      <li class="index_group_profile"><%= group.profile %></li>
    </ul>
  <% end %>

<% else %>

  <p>現在所属しているグループはありません</p>

<% end %>
