<p>グループリクエスト一覧</p>


  <% @user.group_members.each do |member| %>
    <% unless member.activated.present? %>
      <div>
        <%= member.group.name %>

        <%= form_with url:join_group_path(member.group_id) do |f| %>

          <%= f.hidden_field :user_id, :value => @user.id %>

          <%= f.submit "グループに入る",class: "btn btn-primary" %>
        <% end %>
      </div>
    <% end %>
  <% end %>
