<%if user_signed_in? %>

  <div class= "feed">
      <%= render 'notes/note_contents' %>
  </div>

<% else %>


  <h1 class="app_title">
    有吉の買い物メモ<br>アプリへようこそ
  </h1>


<h3><a <%= link_to "ユーザー登録して利用開始！",signup_path %></a></h3><br />
<h5><a <%= link_to "登録済みの方はコチラから",new_user_session_path %></a></h5>

<% end %>
