
<h1>アプリへのご登録<br/>ありがとうございます!</h1><br/>

<h3>下記ボタンをクリックして進んでください</h3>

<ul>
　<li><%= link_to "チュートリアルに進む",tutorial_note_path, class:"btn btn-warning" %></li>
  <li><%= link_to "早速アプリを使い始める","#" , class:"btn btn-primary" %></li>
</ul>
