<p>検索結果一覧</p>

<% if @seach_users.present? %>

  <% @seach_users.each do |user| %>

    <%= user.name %>

  <% end %>

<% else %>

　<p><%= link_to "ユーザー一覧",signup_path %>へ戻る</p>

<% end %>


<div class="forms">

  <%= render 'seaches/seaches_form' %>

</div>
