<div class="form_title">招待したいユーザーを検索</div>

<%= form_with url: index_path, method: :get, local: true do |f| %>
<div class="form_body">
    <%= f.text_field :name,class:'form', placeholder: "ユーザー名を入力" %>
    <%= f.submit "検索", class: "btn btn-default" %>
</div>
<% end %>
