/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap";
 @import "font-awesome";
 @import "custom";
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@500&display=swap');

 // アプリ全体

* {
  position: relative;
}

body {
  position: relative;
  display: flex;
  flex-flow: column;
  overflow: scroll;
  text-align: center;
  min-height: 100vh;
  margin: 0;
  padding: 100px 0 0;
  color: rgba(255, 255, 255, 0.5);
  background-color: #222222;
}

main {
    flex: 1;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

a {
   color: rgba(255, 255, 255, 0.5);
}

a:hover {
  color: #444444;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

// @media (min-width: 577px) {
//     .container-fluid {
//         width: 560px;
//         }
//     }
//
// @media (min-width: 768px) {
//     .container-fluid {
//         width: 750px;
//         }
//     }
//
// @media (min-width: 992px) {
//     .container-fluid {
//         width: 970px;
//         }
//     }
//
// @media (min-width: 1200px) {
//     .container-fluid {
//         width: 1170px;
//         }
//     }

//画像、アイコン表示

.app_icon {
  position: relative;
  bottom: 12px;
  width: 40px;
  border-radius: 10%;
}

.logo1 {
  color: white;
  font-size: 40px;
}

.logo2 {
  color: orange;
}

.image_icon {
  width: 25px;
  height: 25px;
  border-radius: 10%;
  object-fit: cover;
}

.user_icon {
  width: 15px;
  height: 15px;
  border-radius: 10%;
  object-fit: cover;
}

.custom_file_title {
  padding-bottom: 10px;
}

.fa {
    font-size: 30px;
    color: rgba(255, 255, 255, 0.5);
    &:hover {
      background-color:#222222;
      color: white;
    }
}

.fa-sort {
  position: relative;
  right: 2px;
  color: black;
  &:hover {
    background-color: transparent;
    color: #888888;
  }
}

.fa-pencil {
  position: relative;
  right: 5px;
  color: black;
  &:hover {
    background-color: transparent;
    color: #888888;
  }
}

.fa-exclamation-circle {
  color: #ffc107;
}

// ヘッダー、フッター

.page_title {
 text-align: center;
}

.navbar {
  height: 75px;
}

.dropdown-item {
  color: rgba(255, 255, 255, 0.5);
  &:hover {
  background-color: #222222;
  color: rgba(255, 255, 255, 0.5);
  }
}

.dropdown-menu {
  border: 1.2px solid #222222;
}

.dropdown-divider {
  border-top: 1px solid #222222;
}

.nav_item_title {
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  left: 25px;
}

#group_list {
  padding-left: 20px;
}

.dropdown:hover .dropdown-menu {
    display: block;
}

//ハンバーガーメニューアイコン

.navbar-dark .navbar-toggler {
  border: none;
  padding: 0px;
  width: 30px;
  height: 30px;
  box-sizing: border-box;
  position: relative;
}

.navbar-dark .navbar-toggler-icon {
  background-image:none;
  background-color: #ffc107;
  width: 30px;
  height: 2px;
  display: block;
  position: absolute;
  transition: ease .5s;
}

.navbar-toggler-icon:nth-of-type(1) {top:5px;}
.navbar-toggler-icon:nth-of-type(2) {top:15px;}
.navbar-toggler-icon:nth-of-type(3) {top:25px;}

.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(1) {
top:13px;
transform: rotate(45deg);
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(2) {
opacity: 0;
}
.navbar-toggler[aria-expanded="true"] .navbar-toggler-icon:nth-of-type(3) {
top:13px;
transform: rotate(-45deg);
}

// 投稿フォーム

.form_body {
 position: fixed;
 bottom: 0;
 width: 100%;
 height: 150px;
 background-color: #333333;
 z-index: 1;
}

.form_title {
 color: white;
}

.file_field {
  display: none;
}

.note_form_contents {
  position: relative;
  right: 15px;
  bottom: 15px;
}

.search_form {
  display: inline-block;
  width: 200px;
}

.form-control {
  background-color: #222222;
  color: #fff;
  &:hover {
    background-color:#444444;
    color: #fff;
  }
  &:focus {
    background-color:#444444;
    color: #fff;
  }
}

.custom-file-label {
  background-color: #222222;
  color: rgba(255, 255, 255, 0.5);
  &:hover {
    background-color:#444444;
    color: #fff;
  }
}

.modal-content {
  background-color: black;
}

.modal-footer {
  border: none;
}

//各種ボタン

.note_btn {
  background-color: #444444;
}

.btn-light {
  border: none;
  margin: 0;
}

.btn-primary {
  background-color: #007580;
  border-color: black;
  &:hover {
    background-color:#444444;
    border-color: black;
  }
  &:active {
    background-color: #00464d;
  }
}

#js_count {
  width: 40px;
  height: 40px;
}

#js_comment {
  width: 40px;
  height: 40px;
}

.destroy {
  position: fixed;
  left:calc(50% - 50px/2);
  // bottom: 120px;
  // width: 100vw;
  // height: 50px;
  display: none;
  z-index: 5;
}

input[type=checkbox]:checked ~ .destroy {
  display: block;
}
