//チュートリアル
.Note_Guideline1 {
  background-color: #222222;
  padding: 20px;
  margin-bottom: 30px;
  border-radius: 10px;
}
.Note_Guideline2 {
  margin-top: 50px;
}

// ヘルプページ

.test_form_body {
  background-color: black;
}

.test_form_title {
  color: white;
}

.test_image_form {
  width: 20px;
}

.test_text_form {
  width: 20px;
}
