//投稿一覧

.note_body {
  width: 160px;
  height: 20px;
}

.note_content {
  font-size: 20px;
  border-bottom: solid 1px black;
  height: 40px;
}

.note {
  color: rgba(255, 255, 255, 0.5);
}

.comment {
  font-size: 10px;
}

.comment_list {
  list-style: none;
  text-align: left;
}

.drop-hover:hover > .dropdown-menu {
  display: block !important;
}

.note_image {
  height :60px;
  width :80px;
}
