//投稿一覧

// .note {
//   min-width: 250px;
//   min-height: 20px;
// }

.note_body {
  min-width: 160px;
  min-height: 20px;
}

.note_content {
  font-size: 20px;
  border-bottom: solid 1px black;
  min-height: 40px;
}

.note {
  color: rgba(255, 255, 255, 0.5);
}

.comment {
  font-size: 10px;
}

.comment_list {
  list-style: none;
  text-align: left;
}

.drop-hover:hover > .dropdown-menu {
  display: block !important;
}

.note_image {
  height :65px;
  width :65px;
  border-radius: 15px;
  padding-bottom: 5px;
}
