
.product_list {
  display: inline-block;
  padding: 20px;
}

.form_body {
  position: relative;
  bottom: 25px;
  text-align: center;
}

// .product_registrations_form_btn {
//   position: relative;
//   bottom: 20px;
// }
