.review {
  border: 1px solid;
}

.review_title {
  border-bottom: 1px solid;
  text-align: left;
  padding-left: 10px;
}

.review_content {
  min-height: calc( 1.3em * 5 );
  line-height: 1.3;
  text-align: left;
  padding: 5px 10px;
}

.review_none {
  padding :100px;
}
