
#searches_form_body {
 padding-top: 25px;
}

.s_users_list {
  border-bottom: 1px solid #444444;
  text-align: left;
  margin: 10px 20px 0;
  height: 50px;
}

.s_user_info {
  position: relative;
  left: auto;
  padding: 0 5px 0;
}
