
#index_searches_form {
 padding-top: 25px;
 height: 100px;
}

#searches_form {
 padding-top: 15px;
 height: 100px;

}

.users_list {
  border-bottom: 1px solid #444444;
  padding-bottom: 10px;
}

select {
  background-color: #999999;
  position: relative;
  top: 2px;
}

.s_users_list {
  border-bottom: 1px solid #444444;
  text-align: left;
  margin: 10px 20px 0;
  height: 50px;
}

.s_user_info {
  position: relative;
  left: auto;
  padding: 0 5px 0;
}
