<nav class="navbar fixed-bottom navbar-expand-md navbar-light bg-light">
  <form class="form-inline">
    <input class="form-control mr-sm-1" type= text placeholder="ここに入力" aria-label="T" >
    <button type="submit" class="btn btn-outline-success my-2 my-sm-0">投稿</button>
  </form>
