<nav class="navbar navbar-expand-md navbar-dark bg-dark footer">
  <div class="container-fluid">
    <div class="row footer_item">
      <div class="col-12">
        <div class="row">

        <div class="col-3"><a class= "nav-link" <%= link_to "ヘルプ",help_path %></a></div>
        <div class="col-3"><a class= "nav-link" <%= link_to "アプリ評価",help_path %><span class="footer_title">↑ご協力お願いします！</span></a></div>
        <div class="col-6 contact">
          - 製作者 有吉貴紀 -　<br/>
          - Email takanori20200229@gmail.com - <br/>
            何かあれば 上記emailアドレス宛にご連絡ください
        </div>
  </div>
  </div>
</div>
</nav>
  <div class="f_body">
  <div>
