<nav class="navbar navbar-expand-md navbar-dark bg-dark footer">
    <div class="footer_item">
    <div class="contact">
      - 製作者 有吉貴紀 -　<br/>
      - Email takanori20200229@gmail.com - <br/>
        何かあれば 上記emailアドレス宛にご連絡ください
    </div>
    </div>

</nav>
