<!DOCTYPE html>
<html>
  <head>
    <%= render 'layouts/default' %>
  </head>

  <body>
  <!-- <div class="container"> -->

    <%= render 'layouts/header' %>

    <%= yield %>

    <%= render 'layouts/footer' %>
  <!-- </div> -->
  </body>
</html>
