<p><%= @resource.name %>様</p>

<p>買い物メモアプリの有吉です！下記アドレスからパスワード変更リンクに移動し、パスワードの再設定を行ってください。</p>

<p><%= link_to 'パスワードの再設定ページへ', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>尚、もしこのメールに心当たりがない場合は、リンクを開かずメールを破棄してください。</p>
<p>パスワードの再設定についてご不明点などあれば、下記メールアドレス宛にご連絡頂けますと幸いです。</p>
<p>
  --------------------------------<br/>
   SHOP_NOTE APP 有吉　貴紀<br/>
   takanori20200229@gmail.com<br/>
  --------------------------------
</p>
