<p>ユーザー検索</p>

<p>下記フォームにユーザー名を入力して検索ボタンを押してください</p>

<div class="form_body" id="index_searches_form">

  <%= form_with url: index_path, method: :get, local: true do |f| %>
      <%= f.text_field :name,class:'form-control search_form', placeholder: "ユーザー名を入力" %>
      <%= f.submit "検索", class: "btn btn-light" %>
  <% end %>
</div>
